// Just some Dummy Text

.products {
    margin: 1.25rem 0 0 0;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .product {
        margin: 0.5rem auto 0;
        max-width: 300px;
        width: 250px;
        position: relative;
        &-title {
            text-align: center;
            width: 90%;
            margin: 1.25rem auto 0;
        }
        .amount {
            color: $dark-grey;
            font-size: 1.125rem;
            margin-left: 0.675rem;
        }
    }
}

.shop-pricing {
    &.sale {
        display: flex;
        justify-items: center;
        align-items: center;
        p {
            display: inline;
            margin: 1.5rem 0.5rem 0;
        }
    }
    p {
        text-align: center;
    }
    .sale-price {
        color: limegreen;
        text-align: left;
    }
    
    .regular-price {
        text-decoration: line-through;
        text-align: right;
    }
}

.short-description {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-align: center;
    font-size: 0.875rem;
    width: 90%;
}

.country-abbreviation {
    font-weight: bold;
}

span.onsale {
    position: absolute;
    top: -1rem;
    left: -1rem;
    background-color: $soft-pink;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: $dark-grey;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    border: 1px solid $dark-grey;
}

// Categories
.cat-items-15 {
    display: none;
}

@media (min-width: 1200px) {
    div.woocommerce.columns-3,
    div.woocommerce.columns-4,
    div.woocommerce.columns-5 {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .woocommerce-notices-wrapper {
        grid-column: 1 / -1;
        grid-row: 1 / 1;
    }
    // .filter-sidebar {
    //     grid-column: 1 / span 1;
    //     grid-row: 2 / -1;
    // }
    // .products {
    //     grid-column: span 1 / -1;
    //     grid-row: 2 / -1;
    // }
}

// @media(min-width: 650px) {
//     .products {
//         grid-template-columns: repeat(2, 1fr);
//     }
// }

// @media (min-width: 950px) {
//     .products {
//         display: grid;
//         grid-template-columns: repeat(3, 1fr);
//     }
// }