// Just some Dummy Text

.products {
    display: grid;
    grid-gap: 1.25rem;
}

.woocommerce-pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        display: inline-block;
        text-align: center;
    }
}

.product {
    margin: 0 auto;
    max-width: 300px;
    width: 300px;
    position: relative;
    &-title {
        text-align: center;
        width: 80%;
        margin: 1.25rem auto 0;
    }
    .amount {
        color: $dark-grey;
        font-size: 1.125rem;
        margin-left: 0.675rem;
    }

    img {
        width: 300px;
    }
}

.instock {

}

.sale-price {
    color: green;
}

.regular-price {
    text-decoration: line-through;
}

span.onsale {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    background-color: $soft-pink;
    width: 3rem;
    height: 3rem;
    font-size: 1rem;
    color: $dark-grey;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    border: 1px solid $dark-grey;
}

@media(min-width: 650px) {
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 950px) {
    .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}