.product .entry-content {

}

.product .onsale {

}

.flex-control-nav {

}

.zoomImg {

}

.woocommerce div.product .woocommerce-tabs ul.tabs {
    list-style: none;
    padding: 0 0 0 1em;
    margin: 0 0 1.618em;
    overflow: hidden;
    position: relative;
}

.woocommerce-tabs ul.tabs::before {
    content: " ";
    display: table;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d3ced2;
    z-index: 1;
}

// woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab Description Area

div.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    // header {
    //     grid-column: 1 / span 2;
    // }
}

.woocommerce-product-gallery {
    position: relative;
    max-width: 500px;
}  

.woocommerce-product-gallery__trigger {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-size: 2em;
    z-index: 9;
    width: 2rem;
    height: 2rem;
    background: $off-white;
    text-indent: -9999px;
    border-radius: 50%;
    &::before {
        content: "";
        display: block;
        width: 9px;
        height: 9px;
        border: 2px solid #000;
        border-radius: 100%;
        position: absolute;
        top: 7px;
        left: 7px;
        box-sizing: content-box;
    }

    &::after {
        content: "";
        display: block;
        width: 2px;
        height: 8px;
        background: #000;
        border-radius: 6px;
        position: absolute;
        top: 16px;
        left: 19px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        box-sizing: content-box;
    }
}

img.emoji {
    display: inline;
    border: none;
    box-shadow: none;
    height: 1em;
    width: 1em;
    margin: 0 .07em;
    vertical-align: -0.1em;
    background: none;
    padding: 0;
}

.woocommerce-tabs {
    grid-column: 1 / span 2;
}


.summary.entry-summary {
    .price {

    }
    p {

    }
}

.quantity input {
    // Quantity Changer
    width: 60px;
    background-color: $soft-pink;
    color: $dark-grey;
    padding: 0.5rem;
}

.flex-control-nav.flex-control-thumbs {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
    li {
        // width: 25%;
        margin: 0;
    }
}

.flex-viewport {
    width: 100%;
    height: auto;
}

.wp-post-image {
    width: 100%;
    height: auto;
}

.flex-control-thumbs img {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid $dark-grey;
    margin: 0 auto;
    display: block;
}

.woocommerce-product-gallery__image {
    height: auto;
}

.comment-respond {

}