.contact-form{
    max-width: 40rem;
    margin: 0 auto;
    p {
        width: 75%;
        max-width: 25rem;
    }

    .contact-input {
        width: 100%;
    }

    .contact-reason {
        .wpcf7-list-item {
            text-align: center;
            display: block;
        }
    }
    
    .other-input.selected {
        display: block;
    }
    
    label.contact-label{
        display: inline-block;
    }
    
    // Error Messages
    
    span.wpcf7-not-valid-tip{
        margin-top: 0.5rem;
        color: darken($soft-pink, 5);
    }
    
    .wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
        border: 1px solid darken($soft-pink, 5);
        padding: 0.5rem;
        color: darken($soft-pink, 5);
    }
}

@mixin checkbox-inline {
    .contact-form {
        .contact-reason {
            .wpcf7-list-item {
                display: inline-block;
            }
        }
    }
}