.about-image {
    display: block;
    width: 60%;
    margin: 1.25rem auto 0;
}

.about-image-gallery {
    width: calc(100% - 3rem);
    margin: 0 auto;
}

.click-here {
    padding: 0.5rem 0rem;
    color: $dark-grey;
}

@mixin about-gallery-adjustments() {

    .about-image {
        width: 100%;
    }

    .about-image-main {
        width: 60%;
    }

    .about-image-gallery {
        margin-top: 1.25rem;
        column-count: 2;
        column-gap: 2%;
        .about-image:first-of-type {
            margin: 0 auto;
        }
    }
}