.header > .post-edit-link {
    display: none;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    width: 80%;
    p {
        margin: 1.5rem auto 0;
    }
    .heading-background:first-of-type {
        margin: 0 auto 2.5rem;
    }
}

.heading-background {
    background: $soft-pink;
    padding: 1.75rem 0;
    text-align: center;
}

.btn, button,
input[type=submit] {
    display: block;
    width: 144px;
    padding: 0.75rem 0;
    background: $soft-pink;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    &:hover {
        background-color: $off-white;
    }
}
input[type=text], input[type=email] {
    border: 1px solid grey;
    border-radius: 8px;
}

.frame-circle {
    border-radius: 50%;
    border: 1px solid $dark-grey;
}

.frame-square {
    border: 1px solid $dark-grey;
    order: 1;
}

.thumbnail {
    width: calc(150px + 0.2 * (100vw - 750px));
    max-width: 250px;
    height: calc(150px + 0.2 * (100vw - 750px));
    max-height: 250px;
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {

    .container p {
        width: 100%;
        margin: 1.5rem auto 0 auto;
    }
}