.header > .post-edit-link {
    display: none;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    width: 80%;
    p {
        margin: 1.5rem auto 0;
    }
    .heading-background:first-of-type {
        margin: 0 auto 2.5rem;
    }
}

.heading-background {
    background: $soft-pink;
    padding: 1.75rem 0;
    text-align: center;
}

h2{
    text-transform: uppercase;
}

button[type=submit] {
    display: block;
    cursor: pointer;
    width: 144px;
    padding: 0.75rem 0;
    background: #FDF5F3;
    border: 1px solid #565656;
    color: #565656;
    text-align: center;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    margin: 0.5rem 0 1rem;
    font-family: 'Open Sans', sans-serif;
}

button[type=submit].button {
    margin: 1.25rem auto 0;
}

.btn, .button, .about_paypal,
input[type=submit],#nf-field-17.ninja-forms-field-nf-element {
    display: block;
    width: 144px;
    padding: 0.75rem 0;
    background: $soft-pink;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    text-align: center;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    margin: 1.25rem auto 0;
    font-family: 'Open Sans', sans-serif;
    &:hover {
        background-color: $darker-pink;
    }
}

input[type=text], input[type=email], input[type=tel] {
    border: 1px solid #888;
    outline: none;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(0.875rem, 2.25vw, 1.125rem);
    &:focus {
        border: 1px solid #777;
    }
}

textarea {
    resize: none;
}

.frame-circle {
    border-radius: 50%;
    border: 1px solid $dark-grey;
}

.frame-square {
    border: 1px solid $dark-grey;
    order: 1;
}

.thumbnail {
    width: calc(150px + 0.2 * (100vw - 750px));
    max-width: 250px;
    min-width: 150px;
    height: calc(150px + 0.2 * (100vw - 750px));
    max-height: 250px;
    min-height: 150px;
    margin: 0 auto;
}

.underline {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

@media (min-width: 600px) {

    .container p {
        width: 100%;
        margin: 1.5rem auto 0 auto;
    }
}

//popup
#nf-form-title-2>h3{
    text-align: center;
}
.nf-form-content,.nf-form-fields-required{
    text-align: center;
}

svg.svg-inline--fa.fa-bars.fa-w-14, svg path {
    cursor: pointer;
}

input.wpcf7-form-control.wpcf7-submit {
    cursor: pointer;
}

iv.nf-form-content,div.nf-form-fields-required{
    text-align: center;
    display: block;
}

label#nf-label-field-7,
label#nf-label-field-9{
    color: $dark-grey;
}

div#nf-field-7-container.nf-field-container.firstname-container.label-above.one-half.first{
    margin-top: 3rem;
}

div#nf-field-9-container.nf-field-container.email-container.label-above.one-half.first {
    margin-bottom: 2rem;
}

input#nf-field-17.ninja-forms-field.nf-element{
    cursor: pointer;
    display: block;
    cursor: pointer;
    width: 9rem;
    padding: 0.75rem 0;
    background: $soft-pink;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    text-align: center;
    border-radius: 0.75rem;
    font-size: 1.125rem;
    margin: 0 auto;
    margin-top: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}

div.nf-form-content p{
    color: $dark-grey;
    padding: 2%;
}

input#nf-field-7.ninja-forms-field.nf-element,
input#nf-field-9.ninja-forms-field.nf-element{
    border: 1px solid $dark-grey;
    margin-bottom: 1rem;
}

input#nf-field-17.ninja-forms-field.nf-element:hover{
    background-color: $darker-pink;
    color: $black;
}

div#popmake-258.pum-container.popmake.theme-249.pum-responsive.pum-responsive-medium.responsive.size-medium.active.custom-position{
    background-color: $white;
}

div.nf-error-msg.nf-error-required-error{
    margin-bottom: 2rem;
}

div.nf-error-msg.nf-error-field-errors{
    text-align: center;
}


// Search Page

img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image{
    height: 40%;
    width: 40%;
    margin: 0 auto;
}

div.entry-summary{
    margin-bottom: 10%;
}

div.entry-summary p{
    width: 30%;
}

.search-title{
    text-align: center;
}


 
