$dark-grey: #565656;
$soft-pink: #FDF5F3;
$off-white: #F5F5F5;
$white: #FFFFFF;

.header > .post-edit-link {
    display: none;
}

.container {
    max-width: 1200px; 
    margin: 0 auto;
    width: 80%;
    p {
        width: 80%;
        margin: 1.5rem auto 0;
    }
    .heading-background:first-of-type {
        margin: 0 auto 2.5rem;
    }
}

.heading-background {
    background: $soft-pink;
    padding: 1.75rem 0;
    text-align: center;
    // width: 80%;
    // margin: 2.5rem auto;
}

// .container a {
//     display: block;
//     width: 144px;
//     padding: 0.75rem 0;
//     background: $soft-pink;
//     border: 1px solid $dark-grey;
//     color: $dark-grey;
//     text-align: center;
//     border-radius: 12px;
//     font-size: 18px;
//     margin: 0 auto;
//     margin-top: 20px;
//     &:hover {
//         background-color: $off-white;
//     }
// }

.btn {
    display: block;
    width: 144px;
    padding: 0.75rem 0;
    background: $soft-pink;
    border: 1px solid $dark-grey;
    color: $dark-grey;
    text-align: center;
    border-radius: 12px;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 20px;
    &:hover {
        background-color: $off-white;
    }
}

.frame-circle {
    border-radius: 50%;
    border: 1px solid $dark-grey;
}

.frame-square {
    border: 1px solid $dark-grey;
}

.thumbnail {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

@media (min-width: 600px) {

    .container p {
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
}

@media (min-width: 1000px) {
    .thumbnail {
        width: 250px;
        height: 250px;
    }
}