$dark-grey: #565656;
$middle-grey: #8A8481;
$misty-rose: #F9E7E4;
$soft-pink: #FDF5F3;
$white: #FFFFFF;

header .flex{
    display: flex;
    align-items: center;
}

.logo {
    width: 12rem;
    margin-right: auto;
}

.cart-icon,
.toggle-icon-open,
.toggle-icon-open svg,
.toggle-icon-close svg {
    width: 2.5rem;
    height: 2.5rem;
}

.toggle-icon-open,
.cart {
    margin-left: 1rem;
}

$cart-count-dimensions: 25px;
$cart-position-value: -8px;

.cart {
    position: relative;
    &:hover .cart-count {
        border: 1px solid $middle-grey;
        top: $cart-position-value - 1px;
        right: $cart-position-value - 1px;
        width: $cart-count-dimensions + 2;
        height: $cart-count-dimensions + 2;
    }
}

.cart-count {
    position: absolute;
    top: $cart-position-value;
    right: $cart-position-value;
    width: $cart-count-dimensions;
    height: $cart-count-dimensions;
    line-height: $cart-count-dimensions;
    font-size: 0.7rem;
    text-align: center;
    border-radius: 50%;
    background-color: #F9E7E4;
    color: #8A8481;
}

.toggle-icon-close {
    text-align: end;
    width: 100%;
}

header .inner-container {
    position: relative;
    padding: 0.5rem 1rem;
    svg path {
        fill: $middle-grey;
    }
}

.main-menu a {
    display: block;
    padding: 0.5rem;
    text-transform: uppercase;
    color: $middle-grey;
    margin-bottom: 1rem;
}

header nav {
    width: 100%;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-in-out;
    background-color: $misty-rose;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.show-nav {
    max-height: 40rem;
    padding: 1rem;
}

.main-menu .current_page_item a,
.main-menu a:hover {
    text-decoration: underline;
}

@mixin navbar-desktop() {
    .toggle-icon-open,
    .toggle-icon-close {
        display: none;
    }

    .main-menu {
        display: flex;
        align-items: center;
        li {
            margin-right: 1rem;
        }
        a {
            margin: 0;
        }
    }
    
    header nav {
        position: static;
        width: auto;
        max-height: 18rem;
        background-color: transparent;
        display: flex;
        align-items: center;
    }
}